profile=default
type-decl=sparse
let-module=sparse
module-item-spacing=sparse
break-cases=fit-or-vertical
wrap-fun-args=false
exp-grouping=preserve
space-around-lists=false
margin=80
doc-comments=before